/* =============
    Section 2
============= */
#section-2 {

	aside {
		background-image: url("../img/section-2/left-side.jpg");
		background-position: center;
		background-size: cover;
		height: 100vh;
		@include md {
			background-position: center;
			height: 50vh;
		}
		@include lg {
			background-position: center;
			height: 40vh;
		}
		@include xl {
			background-position: center;
			height: 30vh;
		}
	}
	@include md {
		display: grid;
		grid-template-areas: "aside section-2-text .";
		grid-template-columns: 33% auto .5%;
	}
	@include xl {
		display: grid;
		grid-template-areas: "aside section-2-text .";
		grid-template-columns: 50% auto .5%;
	}
}
#section-2-container {
	display: grid;
	gap: 20px;
	grid-template-areas: ". section-2 .";
	grid-template-columns: 5% auto 5%;
}
#section-2-text {
	gap: 20px;
	grid-area: section-2;
} 
